article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, ul, li{ display: block; }
h1, h2, h3, p, ul, li{margin:0px;padding:0px;}
*,*::after,*::before,*:hover{
	box-sizing:border-box;
}

html,body{
	background:url(./images/gradius_background.jpg);
	background-size:cover;
	font-family: HiraKakuProN-W3,"ヒラギノ角ゴ ProN W3",Helvetica,sans-serif;
	margin:0px;
	min-width:1000px;
	padding:0px;
	position:relative;
	width:100%;
	z-index:0;
}
html body.ispopup{height:100%;}


body{opacity:0;transition:0.5s opacity;}
body::before{
	background-color: rgba(0,0,0,0.6);
    content: '';
	height: 100%;
    left: 0px;
	min-width:1000px;
	position: absolute;
	top: 0px;
    width: 100%;
    z-index: 0;
}
body.on{opacity:1;}
body.ismenu{padding-bottom:145px;}


h1{text-align:center;margin-bottom:30px;}

section#entrylink {}
section#entrylink .inner {
    margin: 0px auto;
    margin-bottom: 30px;
    text-align: center;
	width: 1000px;
}
section#entrylink .inner a {
	background-color: rgba(0,0,0,1);
    border: 1px solid rgba(255,255,255,1);
    border-radius: 10px;
	cursor: pointer;
    display: inline-block;
	line-height: 10px;
    padding: 10px 40px;
	transition: 0.3s background-color;
}
section#entrylink .inner a:hover{background-color: rgba(255,255,255,0.6);}



form{
	color:rgba(255,255,255,1);
	min-width:1000px;
	padding:20px;
	position:relative;
	width:100%;
}
form img{display:inline-block;}

form h1 img{width:50px;}
form h2 img{width:25px;}
form h3 img{width:20px;}
form .parts_block_wrapper .text img{width:15px;}



form #form_inner{margin:0px auto;width:100%;}

form #map{
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1) inset;
    background: linear-gradient(to bottom, rgba(40, 40, 40, 1) 0%, rgba(20, 20, 20, 1) 20%);
    border:2px solid rgba(255, 255, 255, 1);
	border-radius:3px;
	margin-bottom:80px;
	overflow:hidden;
}
form #map *{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
form #map h2{padding:20px;}

form #map #ruler {
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	margin: 30px;
	height: 1em;
	margin-bottom: 0px;
	position: relative;
	overflow: hidden;
}
form #map #ruler #ruler_inner{display:flex;}
form #map #ruler span {
	flex-shrink: 0;
	line-height: 1em;
	color: rgba(255, 255, 255, 0.5);
	width: 20px;
}
form #map #ruler span:before {
    content: '';
    position: relative;
    border: 1px dotted rgba(255, 255, 255, 0.3);
}

form #map section#map_bts {margin: 0 30px 20px;}
form #map section#map_bts a {
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,1);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    line-height: 0px;
    padding: 10px;
    transition: 0.3s background-color;
}

form #map #area{
	background-color:rgba(0,0,0,1);
    border:2px solid rgba(255,255,255,0.8);
    height:405px;
    margin-bottom:2em;
	margin-left:30px;
	margin-right:30px;
    overflow:auto;
    position:relative;
    -khtml-user-drag:element;
}
form #area #area_selectable{
    background-color:rgba(0,0,0,0.1);
    border:1px dotted rgba(0,0,0,1);
    display:none;
    position:absolute;
    z-index:10;
}
form #area #area_selectable.on{display:block;}

form #area .area_blocks_background_img {
	background: none;
	background-repeat: repeat;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	transform-origin: top left;
	transform: scale(0.8);
	width: 100%;
	z-index: 0;
}

form #area .area_blocks{left:0px;position:absolute;top:0px;}
form #area .area_blocks.drop{z-index:10;}

form #area .area_blocks_rows{display:flex;}
form #area .area_blocks_rows .area_block{
	border:1px dotted rgba(255,255,255,0.3);
    flex-shrink:0;
    height:20px;
	position:relative;
    width:20px;
}

form .parts_block{
    height:auto;
	transition:0.5s all;
}
form #area .area_block .parts_block{position:absolute;border:0.2px dashed rgba(255,255,255,0.5);overflow:hidden;}
form #area .area_block .parts_block.over{background-color:rgba(255,255,255,0.3);border:2px dashed rgba(255,255,255,0.6);}
form #area .area_block .parts_block img{background-color:rgba(255,255,255,0.2);display:block;height:100%;}
form #area .area_blocks_rows .area_block.over{background-color:rgba(255,255,255,0.4);}


#area_parts{
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	background: linear-gradient(to bottom, rgba(50, 50, 50, 1) 0%, rgba(20, 20, 20, 1) 100%);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1) inset;
	display:flex;
    overflow:hidden;
	overflow-x:auto;
    position:relative;
    z-index:1;
}

#area_parts .parts_blocks_wrapper{flex-shrink:0;overflow:hidden;padding:30px 30px;width:50%;}
#area_parts .parts_blocks_wrapper h3{border-bottom:1px solid rgba(255,255,255,1);margin-bottom:10px;padding-bottom:10px;}

#area_parts .parts_blocks{display:flex;height:120px;overflow-x:auto;}
#area_parts .parts_block_wrapper{
	flex-grow:0;
	margin:10px;
	position:relative;
	text-align:center;
	width:100px;
}
#area_parts .parts_block_wrapper .text{display:none;}
#area_parts .parts_block_wrapper .parts_block{
	background-color:rgba(0,0,0,0.3) !important;
	border:0.2px dotted rgba(255,255,255,1.0);
	flex-grow:1;
	overflow:hidden;
	position:relative;
}
#area_parts .parts_block_wrapper .parts_block img{display:block;width:100%;}




form .form_group select{
	background-color:rgba(0,0,0,1);
    color:rgba(255,255,255,1);
    height:40px;
    min-width: 70%;
    font-size:20px;
}
form .form_group input[type="text"],
form .form_group textarea{
    background-color:rgba(0,0,0,1);
    border:1px solid rgba(255,255,255,1);
    border-radius:3px;
	color:rgba(255,255,255,1);
    font-size:1.5em;
    padding: 10px;
    width: 100%;
}
form .form_group input[type="range"] {
    margin:0px 20px;
    width: 250px;
}
form .form_group{border: 1px solid rgba(255,255,255,0);margin-bottom:10px;padding:10px 20px;}
form .form_group#init{display: none;}
form .form_group:after{clear:both;content:'';display:table;}
form .form_group:hover{
	border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
	background-color: rgba(255,255,255,0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
form .form_group .col_l{float:left;margin-top:15px;margin-right:3%;text-align:right;width:20%;}
form .form_group .col_r{float:left;width:77%;}
form .form_group .col_r .val{
    background-color:rgba(0,0,0,1);
    border:1px solid rgba(255,255,255,0.7);
	border-radius:3px;
    display:inline-block;
    margin-right:20px;
	padding:10px;
	text-align:center;
    width:140px;
}
form .form_group .col_r.range{margin-right:5%;width:10%;}

form .form_group .col_r .col_r_group{display:flex;width:100%;align-items: center;}
form .form_group .col_r .col_r_group:not(:last-child){margin-bottom:10px;}

/* bgmusic */
form .form_group#bgmusic .col_r .col_r_group>a{
	background-color: rgba(150,150,150,1);
    border:1px solid rgba(255,255,255,0.7);
	border-radius:5px;
 	cursor:pointer;
	display:block;
	height:40px;
	position: relative;
	width:40px;
}
form .form_group#bgmusic .col_r .col_r_group>a span {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: 1em;
    width: 1em;
    line-height: 1em;
    font-size: 150%;
}



body #menu{
	border-top:2px solid rgba(200, 200, 200, 1);
	background: linear-gradient(to bottom, rgba(50, 50, 50, 1) 0%, rgba(20, 20, 20, 1) 100%);
	box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 1) inset;
    position:relative;
	transition:0.3s all;
	transform: translateY(145px);
	width:100%;
}
body #menu_inner{margin:0px auto;padding:40px 0px;text-align:center;width:1000px;}
body #menu_inner a{
	background-color:rgba(220,220,220,0.3);
	border:1px solid rgba(255,255,255,1);
	border-radius:10px;
    cursor:pointer;
	display:inline-block;
	line-height:0px;
	padding:20px 20px;
	transition:0.3s background-color;
}
body #menu_inner a:not(.off):hover{background-color:rgba(255,255,255,0.6);}
body #menu_inner a.off{cursor:default;opacity:0.3;}


body.ismenu #menu{bottom:0px;position:fixed;transform:translateY(0px);z-index:100;}



/*  component
=====================*/
div.component_select {
	position: relative;
}

div.component_select span {
	background-color: rgba(0, 0, 0, 1);
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	cursor: pointer;
	display: block;
	height: 3em;
	line-height: 3em;
	min-width: 400px;
	padding: 0px 20px;
	position: relative;
}

div.component_select span:after {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	right: 10px;
	top: calc(50% - 5px);
	border-left: 8px solid rgba(255, 255, 255, 0.8);
	border-top: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	transform-origin: 2.5px;
	transition: 0.2s;
}
div.component_select span.on.top:after {transform: rotate(90deg);}
div.component_select span.on.bottom:after {transform: rotate(-90deg);}

div.component_select ul {
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 0px 0px 5px 5px;
	border-top: none;
	height: 0px;
	position: absolute;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	transition: 0.2s all;
	z-index: 10;
}
div.component_select ul.on {
	box-shadow: 0px 1px 3px rgba(255, 255, 255, 1.0);
	height: 200px;
	opacity: 1;
}
div.component_select ul.top {
	top: 100%;
}
div.component_select ul.bottom {
	border-top:1px solid rgba(255, 255, 255, 1.0);
	border-radius: 5px 5px 0px 0px;
	bottom:100%;
}
div.component_select ul li {
	background-color: rgba(0, 0, 0, 1);
	cursor: pointer;
	transition: 0.2s all;
	height: 0px;
	display: block;
	overflow: hidden;
	padding: 20px;
	width: 100%;
}
div.component_select ul li>div {line-height: 0;}
div.component_select ul li:not(:last-of-type) {border-bottom: 1px solid rgba(255, 255, 255, 0.7);}

div.component_select ul.on li {
	display: flex;
	box-sizing: content-box;
	height: 15px;
	padding: 20px;
}

div.component_select ul.on li:hover {
	background-color: rgba(60, 60, 60, 1);
}

div.component_select ul.on li.on {
	background-color: rgba(90, 90, 90, 1);
}

.component_modal{transition: 0.2s;}
.component_modal.on {
	background-color:rgba(255,255,255,0.8);
	overflow: hidden;
	position:fixed;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	z-index:100;
}
.component_modal.on .component_modal_dialog{
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
	display: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	padding:20px;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.component_modal.on .component_modal_dialog.on {display:block;}

.component_modal.on .component_modal_dialog .message_area {
	padding-bottom: 20px;
}
.component_modal.on .component_modal_dialog .footer_area button {
	padding: 10px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.05);
	margin: 0px 5px;
}


.component_dialog{
	bottom: 0px;
	position: fixed;
	width: 100%;
	z-index: 101;
}
.component_dialog div{
	background-color: rgba(255, 255, 255, 1);
	border-radius: 5px;
	display: block;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	top: 0px;
	opacity: 0;
	padding: 10px 30px;
	position: absolute;
	left: calc(50% - 45%);
	transform: translateY(0);
	width:90%;
	animation: component_dialog_anim 4s ease 0s 1 alternate none running;
}
.component_dialog div span{margin-left:1em;}

@keyframes component_dialog_anim {
	0% {opacity: 0;transform: translateY(0);}
	10% {opacity: 1;transform: translateY(-80px);}
	90% {opacity: 1;transform: translateY(-80px);}
	100% {opacity: 0;transform: translateY(0);}
}


/*  Loading
=====================*/
#g_loading {
	display: none;
}

#g_loading.on {display: block;}
#g_loading.on #loading_icon {
	animation: ani_loading_opacity 0.1s linear infinite;
	bottom: 0px;
	display: block;
	height: 200px;
	left: 0px;
	margin: auto;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 200px;
	z-index: 110;
}

#g_loading.on #loading_rotate {
	border: 5px solid #0066ff;
	border-radius: 50%;
	border-right-color: transparent;
	height: 30px;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 30px;
}

#g_loading.on #loading_rotate.out {
	animation: ani_loading_rotate_out 1s linear infinite;
	height: 50px;
	width: 50px;
}

#g_loading.on #loading_rotate.in {
	animation: ani_loading_rotate_in 1s linear infinite;
}

#g_loading.on #loading_icon:after {
	bottom: 40px;
	content: 'Processing...';
	color: #0066ff;
	letter-spacing: 3px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	width: 200px;
}

@keyframes ani_loading_rotate_out {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}

@keyframes ani_loading_rotate_in {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(-180deg);}
	100% {transform: rotate(-360deg);}
}

@keyframes ani_loading_opacity {
	0% {opacity: 1;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}