article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }
h1, h2, h3, p{margin:0px;padding:0px;}
*,*::after,*::before{
	box-sizing:border-box;
}

html,body{
	background:url(./images/gradius_background.jpg);
	background-size:cover;
	font-family: HiraKakuProN-W3,"ヒラギノ角ゴ ProN W3",Helvetica,sans-serif;
	margin:0px;
	min-width:1000px;
	padding:0px;
	position:relative;
	width:100%;
	z-index:0;
}
html body.ispopup{height:100%;}


body{opacity:0;transition:0.5s opacity;}
body::before{
	background-color: rgba(0,0,0,0.6);
    content: '';
	height: 100%;
    left: 0px;
	min-width:1000px;
	position: absolute;
	top: 0px;
    width: 100%;
    z-index: 0;
}
body.on{opacity:1;}
body.ismenu{padding-bottom:145px;}


h1{text-align:center;margin-bottom:30px;}

section#entrylink {}
section#entrylink .inner {
    margin: 0px auto;
    margin-bottom: 30px;
    text-align: center;
	width: 1000px;
}
section#entrylink .inner a {
	background-color: rgba(0,0,0,1);
    border: 1px solid rgba(255,255,255,1);
    border-radius: 10px;
	cursor: pointer;
    display: inline-block;
	line-height: 10px;
    padding: 10px 40px;
	transition: 0.3s background-color;
}
section#entrylink .inner a:hover{background-color: rgba(255,255,255,0.6);}



form{
	color:rgba(255,255,255,1);
	min-width:1000px;
	padding:20px;
	position:relative;
	width:100%;
}
form img{display:inline-block;}

form h1 img{width:50px;}
form h2 img{width:25px;}
form h3 img{width:20px;}
form .parts_block_wrapper .text img{width:15px;}



form #form_inner{margin:0px auto;width:100%;}

form #map{
	background-color:rgba(0,0,0,1);
	border:1px solid rgba(255,255,255,1);
	border-radius:10px;
	margin-bottom:80px;
	overflow:hidden;
}
form #map *{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
form #map h2{padding:20px;}

form #map section#map_bts {margin: 0 30px 20px;}
form #map section#map_bts a {
    background-color: rgba(255,255,255,0.3);
    border: 2px solid rgba(255,255,255,1);
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    line-height: 0px;
    padding: 10px;
    transition: 0.3s background-color;
}

form #map #area{
	background-color:rgba(0,0,0,1);
    border:2px solid rgba(255,255,255,0.8);
    height:402px;
    margin-bottom:2em;
	margin-left:30px;
	margin-right:30px;
    overflow:auto;
    position:relative;
    -khtml-user-drag:element;
}
form #area #area_selectable{
    background-color:rgba(0,0,0,0.1);
    border:1px dotted rgba(0,0,0,1);
    display:none;
    position:absolute;
    z-index:10;
}
form #area #area_selectable.on{display:block;}

form #area .area_blocks{left:0px;position:absolute;top:0px;}
form #area .area_blocks.drop{z-index:10;}

form #area .area_blocks_rows{display:flex;}
form #area .area_blocks_rows .area_block{
	border:1px dotted rgba(255,255,255,0.3);
    flex-shrink:0;
    height:20px;
	position:relative;
    width:20px;
}

form .parts_block{
    height:auto;
    width:100px;
	transition:0.5s all;
}
form #area .area_block .parts_block{position:absolute;width:100%;}
form #area .area_block .parts_block img{display:block;}
form #area .area_block .parts_block img.over{background-color:rgba(255,255,255,0.3);border:2px dotted rgba(255,255,255,0.6);}
form #area .area_blocks_rows .area_block.over{background-color:rgba(255,255,255,0.4);}


#area_parts{
    background-color:rgba(255,255,255,0.2);
	display:flex;
    overflow:hidden;
	overflow-x:auto;
    position:relative;
    z-index:1;
}

#area_parts .parts_blocks_wrapper{padding:20px;padding-bottom:0px;}
#area_parts .parts_blocks_wrapper h3{border-bottom:1px solid rgba(255,255,255,1);}

#area_parts .parts_blocks{display:flex;}
#area_parts .parts_block_wrapper{
	flex-grow:1;
	padding:20px;
	position:relative;
	text-align:center;
	width:150px;
}
#area_parts .parts_block_wrapper .parts_block{
	background-color:rgba(0,0,0,1);
	border:1px dotted rgba(255,255,255,0.5);
	flex-grow:1;
	max-width:200px;
	position:relative;
}
#area_parts .parts_block_wrapper .parts_block img{display:block;width:100%;}





form .form_group input[type="text"] {
    background-color:rgba(0,0,0,1);
    border:1px solid rgba(255,255,255,1);
    border-radius: 10px;
	color:rgba(255,255,255,1);
    font-size:1.5em;
    padding: 10px;
    width: 100%;
}
form .form_group textarea {
    background-color:rgba(0,0,0,1);
	border:1px solid rgba(255,255,255,1);
    border-radius: 10px;
	color:rgba(255,255,255,1);
    font-size:1.5em;
    padding: 10px;
    width: 100%;
}
form .form_group input[type="range"] {
    margin:0px 20px;
    width: 50%;
}


form .form_group{margin-bottom:30px;}
form .form_group:after{clear:both;content:'';display:table;}
form .form_group .col_l{float:left;margin-top:15px;margin-right:3%;text-align:right;width:20%;}
form .form_group .col_r{float:left;width:77%;}
form .form_group .col_r .val{
    background-color:rgba(0,0,0,1);
    border:1px solid rgba(255,255,255,0.7);
	border-radius:10px;
    display:inline-block;
    margin-right:20px;
	padding:10px;
	text-align:center;
    width:100px;
}
form .form_group .col_r.range{margin-right:5%;width:10%;}

body #menu{
	background-color:rgba(12,47,13,1);
	border-top:1px solid rgb(195, 255, 130);
    position:relative;
	transition:0.3s all;
	transform: translateY(145px);
	width:100%;
}
body #menu_inner{margin:0px auto;padding:40px 0px;text-align:center;width:1000px;}
body #menu_inner a{
	background-color:rgba(220,220,220,0.3);
	border:2px solid rgba(255,255,255,1);
	border-radius:10px;
    cursor:pointer;
	display:inline-block;
	line-height:0px;
	padding:20px 20px;
	transition:0.3s background-color;
}
body #menu_inner a:not(.off):hover{background-color:rgba(255,255,255,0.6);}
body #menu_inner a.off{cursor:default;opacity:0.3;}


body.ismenu #menu{bottom:0px;position:fixed;transform:translateY(0px);z-index:100;}