/******************************************************
//	gradius_main.css
//	全体定義
//	2017.08.12 : 新規作成
******************************************************/
html,body{
	background:rgba(0,0,0,1) url(./images/gradius_background.jpg);
	background-size:cover;
	font-family: HiraKakuProN-W3,"ヒラギノ角ゴ ProN W3",Helvetica,sans-serif;
	height:100%;
	margin:0px;
	padding:0px;
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:0;
	-webkit-touch-callout:none; /* iOS Safari */
	-webkit-user-select:none;  /* Chrome or Safari */
    user-select:none;
}
body::before {
    background-color: rgba(0,0,0,0.6);
    left: 0;
    content: '';
	height: 100%;
    min-width:1000px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }
p{margin:0px;padding:0px;}
body *{box-sizing:border-box;}

@keyframes _fadein{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes _flashing{
	0%{opacity:0;}
	100%{opacity:1;}
}

#game_wrapper{
	align-items:center;
	display:none;
	height:100%;
	justify-content:center;
	left:0px;
	opacity:0;
	position:absolute;
	top:0px;
	width:100%;
	z-index:1;
}
#game_wrapper.on{
	animation:_fadein 1.0s;
	display:flex;
	opacity:1;
}
#game{
	background-color:#000000;
	border-bottom:1px solid rgba(255,255,255,0.5);
	border-top:1px solid rgba(255,255,255,0.5);
	display:block;
	width:100%;
}

#game_start_wrapper{
	align-items:center;
	display:none;
	height:100%;
	justify-content:center;
	left:0px;
	position:absolute;
	top:0px;
	opacity:0;
	width:100%;
	z-index:1;
}
#game_start_wrapper.on{
	animation:_fadein 1.0s;
	display:flex;
	opacity:1;
}
#game_start{
	height:500px;
	max-width:1000px;
	position:relative;
	width:100%;
}
#game_start img.gradius_logo{
	position:absolute;
	left:calc(50% - 400px);
	top:0px;
}

#game_start .title{
	left:50%;
	position:absolute;
	opacity:1;
	top:180px;
    transform:translateX(-50%);
	white-space:nowrap;
}

#game_start .text{
    left:50%;
	position:absolute;
	opacity:1;
	top:50%;
    transform:translateX(-50%);
	white-space:nowrap;
}
#game_start .text.on{animation:_flashing 0.1s infinite linear;}

#game_start .text_loading{
    left:50%;
	position:absolute;
	opacity:0;
	top:60%;
    transform:translateX(-50%);
	white-space:nowrap;
}
#game_start .text_loading.on{opacity:1;animation:_flashing 0.1s infinite linear;}

body:not(.sp) #sp_controller{display:none;}
body:not(.sp) #sp_landscapemode{display:none;}


/************************************************
以下はiPad、iPhone設定
************************************************/
@media screen and (max-width:999px) {
*{
}
}

@media screen and (orientation: portrait) {
body.sp section:not(#sp_landscapemode){display:none !important;}
body.sp section#sp_landscapemode{
	background-color:rgba(0,0,0,0.5);
	color:rgba(255,255,255,1);
	display:block;
	height:100%;
	position:relative;
	width:100%;
}
body.sp section#sp_landscapemode ._inner{
	left: 50%;
	position: absolute;
	text-align:center;
	top: 50%;
	transform: translate(-50%,-50%);
}
}
@media screen and (orientation: landscape) {
body.sp section#sp_landscapemode{display:none !important;}
}

body.sp section#game_wrapper.on{display:block;}
body.sp section#game_wrapper #game{border:2px solid rgba(255,255,255,1);}
body.sp section#game_start_wrapper #game_start{top:5%;}

body.sp section#sp_controller{
    bottom:0px;
    display:block;
    height:130px;
    left:0px;
    position:absolute;
    width:100%;
    z-index:5;
}
body.sp section#sp_controller #sp_controller_inner{
    height:100%;
    margin:0px auto;
    position:relative;
	width:90%;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_main{
    background-color:rgba(0,0,0,0.3);
    border:2px solid rgba(255,255,255,0.5);
    border-radius:50%;
	bottom:0px;
    height:100px;
	overflow:hidden;
    position:absolute;
    width:100px;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_main .sp_controller_main_center{
	background-color:rgba(255,255,255,0.5);
	border-radius:50%;
	left:calc(50% - 45px);
	height:90px;
	position:absolute;
	top:calc(50% - 45px);
	width:90px;
}
body.sp section#sp_controller #sp_controller_inner>div[class*="bt"]{
    background-color:rgba(0,0,0,1);
    border:2px solid rgba(255,255,255,0.5);
    border-radius:50%;
    color:rgba(255,255,255,1);
	font-size:150%;
    height:70px;
    line-height:2.0em;
    position:absolute;
    text-align:center;
    width:70px;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt::before{
	bottom:0px;left:0px;right:0px;top:0px;
	content:"";
    height:50%;
	margin:auto;
    position:absolute;
	width: 50%;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.r::before{
    background:url(./images/gradius_font_r.png) no-repeat;
    background-size:cover;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.p::before{
	background:url(./images/gradius_font_p.png) no-repeat;
    background-size:cover;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.s::before{
	background:url(./images/gradius_font_s.png) no-repeat;
    background-size:cover;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.b::before{
	background:url(./images/gradius_font_b.png) no-repeat;
    background-size:cover;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.a::before{
	background:url(./images/gradius_font_a.png) no-repeat;
    background-size:cover;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
body.sp section#game_start_wrapper{display:block;}
body.sp section#game_start_wrapper #game_start{top:calc(50% - 250px);}


body.sp section#sp_controller{height:250px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_main{
	height:200px;
	top:40px;
	width:200px;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_main .sp_controller_main_center{
	left:calc(50% - 80px);
	height:160px;
	top:calc(50% - 80px);
	width:160px;
}
body.sp section#sp_controller #sp_controller_inner>div[class*="bt"]{
	font-size:280%;
    height:100px;
    width:100px;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.hide{
	right:435px;
	top:155px;
	height:60px !important;
	width:60px !important;
}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.r{right:400px;top:40px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.p{right:200px;top:40px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.s{right:300px;top:110px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.b{right:100px;top:110px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.a{right:0px;top:40px;}
}

@media screen and (max-width: 767px) {
/* 5.5 4.7 4.0inch */
body.sp section#game_wrapper{height:100%;transform:scale(0.75);transform-origin:top;}
body.sp section#game_start_wrapper.on{
	height:calc(100% - 120px);
	top:0px;
}
body.sp section#game_start_wrapper #game_start{
	height:100%;
	transform: scale(0.75) translateY(0%);
	transform-origin: top center;
}
#game_start .text{top:260px;}
#game_start .text_loading{top:300px;}

body.sp section#sp_controller #sp_controller_inner .sp_controller_main{height:120px;width:120px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_main .sp_controller_main_center{
	left:calc(50% - 55px);
	height:110px;
	top:calc(50% - 55px);
	width:110px;
}

body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.hide{right:350px;bottom:0px;height:30px !important;width:30px !important;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.r{right:280px;bottom:40px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.s{right:210px;bottom:0px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.p{right:140px;bottom:40px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.b{right:70px;bottom:0px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.a{right:0px;bottom:40px;}
}

@media screen and (max-width: 666px) {
/* 4.0inch */
body.sp section#game_start_wrapper #game_start{
	height: 100%;
	transform: scale(0.6) translateY(0%);
}
#game_start .text{top:260px;}
#game_start .text_loading{top:300px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_main{height:100px;width:100px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_main .sp_controller_main_center{
	left:calc(50% - 45px);
	height:90px;
	top:calc(50% - 45px);
	width:90px;
}

body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.hide{right:350px;bottom:0px;height:30px !important;width:30px !important;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.r{right:280px;bottom:20px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.p{right:210px;bottom:0px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.s{right:140px;bottom:20px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.b{right:70px;bottom:0px;}
body.sp section#sp_controller #sp_controller_inner .sp_controller_bt.a{right:0px;bottom:20px;}
}
